:root {
  --primary: #4f46e5;
  --primary-dark: #4338ca;

  --high: #ef4444;
  --medium: #f59e0b;
  --low: #10b981;

  --bg: #f5f7fb;
  --card: #ffffff;

  --text: #1f2937;
  --light: #6b7280;

  --border: #e5e7eb;
}

.App[data-theme="dark"] {
  --bg: #121212;
  --card: #1e1e1e;

  --text: #ffffff;
  --light: #aaaaaa;

  --border: #444444;
}

.App {
  padding: 1rem;
  color: var(--text);
  background: var(--bg);
  min-height: 100vh;
}

.App code {
  background: #f0f0f0;
  /* padding: 0.1em 0.3em; */
  border-radius: 2px;
  font-size: 0.9em;
  color: #111;
}


h2,
h3,
p {
  margin: 5px;
}

#task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 650px;
}

#task-card {
  background: var(--card);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .06);
  display: flex;
  gap: 25px;
  align-items: flex-start;
}

#task-form {
  background: var(--card);
  color: var(--text);
  box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 1rem;
}

button {
  background: var(--primary);
  width: 100%;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-weight: bold;
  transition: .3s;
}

button:hover {
  background: var(--primary-dark);
}

#task-form-error {
  color: red;
  margin-bottom: 10px;
}

input[type=text],
input[type=date],
select {
  width: 97%;
  background: var(--card);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 8px;
  outline: none;
}

#task-form input:focus,
#task-form select:focus {

  border-color: var(--primary);
}

select {
  width: 100%;
}

#delete {
  width: max-content;
}